:root {
    --primary-color: #293241;
    --secondary-color: #ee6c4d;
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: sans-serif;
    background-color: var(--primary-color);
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner{
    background-color: var(--secondary-color);
    padding: 2rem;
    color: var(--primary-color);
    font-size: larger;
  }

  .input{
    margin: 5rem auto;
  }
  .input .flex {
    flex-wrap: wrap;
  }
  
  .choice {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  option {
    font-size: 1rem;
  }
  
  .input-text {
    padding: 3rem 2rem;
  }
  .input-text input {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
  }
  
  .input-text input:focus {
    outline: none;
  }
  
  button {
    background-color: var(--secondary-color);
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--primary-color);
    font-size: 1rem;
  }
  
  button:hover {
    transform: scale(1.1);
  }
  
  select:focus {
    outline: none;
  }
  
  .output {
    max-width: 40%;
    height: 80%;
    padding: 5rem;
    margin: 10rem auto;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
  }
  
  .output-text {
    color: var(--primary-color);
  }
  
  .output .flex {
    justify-content: center;
  }
  